body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    position: relative;
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}

table.innerTable {
    width: 430px;
    border-collapse: collapse;
    vertical-align: middle;
}

table.innerTable th {
    padding: 3px;
    border: 1px solid black;
    background-color: lightgreen;
}

table.innerTable td:nth-child(1) {
    text-align: left;
}

table.innerTable td {
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}

table.loginTable {
    border: none;
    width: 35%;
    margin: 50px auto;
    opacity: 1;
}

#nav {
    font-size: 20px;
    line-height: 30px;
    background-color: #eeeeee;
    height: 75%;
    width: 10%;
    float: left;
}

#section {
    margin-left: 135px;
    padding-bottom: 20px;
    opacity: 0.7;
    font-size: 25px;
    height: 75%;
    width: 90%;
    overflow: auto;
}

div.table {
    margin-left: 40px;
}

#loginError {
    width: 50%;
    margin: 50px auto;
    opacity: 1;
}

#topNav {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
}

#topNav li {
    float: left;
}

#topNav li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
}

#topNav li a:hover {
    color: #c00;
    background-color: #fff;
}

#blocked {
    margin: 25px 40px 25px 150px;
    color: #c00;
    font-family: sans-serif;
}

#blockButton {
    margin: 40px 40px 40px 175px;
}

#assignNewContractButton {
    margin: 0 0 0 40px;
    border-width: medium;
    border-color: #000000;
}

.link {
    margin: 0;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
}

.link:hover {
    color: #c00;
}

#nav a {
    color: #9ACD32;
}

#nav a:visited {
    color: #000;
    text-decoration: none;
}

#nav a:hover {
    color: #9ACD32;
    text-decoration: none;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 15px;
}

.myButton {
    -moz-box-shadow: inset 0 1px 0 0 #54a3f7;
    -webkit-box-shadow: inset 0 1px 0px 0px #54a3f7;
    box-shadow: inset 0 1px 0 0 #54a3f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #1c4e8c;
}

.myButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0);
    background-color: #0061a7;
}

.myButton:active {
    position: relative;
    top: 1px;
}